# Created by https://www.gitignore.io

### Jekyll ###
_site/
.sass-cache/

### Node ###
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
