//
// _gallery.scss
//
// Copyright © 2015 Ross Penman. All rights reserved.
//

.gallery {
  // Reset default ul behaviour
  list-style: none;
  padding: 0;

  text-align: center;
  font-size: 0;

  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  li {
    font-size: 1rem;
    margin: 0 0.5em 1em;
    display: inline-block;

    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    max-width: 400px;

    > a {
      display: block;
      color: inherit;
      text-decoration: inherit;
    }
  }

  img {
    width: 100%;
    border: none;
    height: auto;
    display: block;
  }

  .title {
    margin: .5em;
    text-decoration: underline;
  }

  :link .title { color: blue; }
  :visited .title { color: purple; }
  :active .title { color: red; }
}
