//
// _layout.scss
//
// Copyright © 2015 Ross Penman. All rights reserved.
//
// This file defines the main layout for all pages on the site.
// It should be used to style an outer container area that is the same for all
// pages.

@import "mixins";

$fallback-border-height: 50px;

* { box-sizing: border-box; }

html {
  height: 100%;
  padding: $fallback-border-height 0 $fallback-border-height;
  padding: 5vw 0 5vw;
}

body {
  min-height: 100%;
  margin: 0 5% $fallback-border-height;
  margin: 0 5% 5vw;
  position: relative; // child elements should be positioned relative to body.
  display: flex;
  flex-direction: column;
}

// position something off the bottom of the page so that the browser
// will render slightly below the end of the body,
// allowing the backgroudn to show through like it does on the other sides.
body:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: $fallback-border-height;
  height: 5vw;

  // this pseudo-element is also used as a clearfix, since bdoy contains
  // navigation, which is sometimes (based on a media query) styled as a
  // floating column.
  clear: both;
}

.container {
  flex: 1;
  flex-basis: auto; // work around IE 10 bug
}

main {
  display: block;
  padding: 0 1em 0;
  font-size: 1.2em;

  @media (min-width: 35em) and (max-width: 45em), (min-width: 65em) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

main:after {
  // clearfix
  content: "";
  display: table;
  clear: both;
}

footer {
  margin: 0;
  padding: 1em;
  z-index: 1;
}
