//
// _mixins.scss
//
// Copyright © 2015 Ross Penman. All rights reserved.
//

@import "color-definitions";

nav, body::before {
  background: $secondary-color;
}

nav {
  color: $tertiary-color;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;

  a {
    display: block;
    margin: 0.5em;
    border: 1px solid $tertiary-color;
    padding: 0.5em;
    text-decoration: inherit;
    color: inherit;

    // Properly handle overflowing content
    // Break onto the next line instead of overflowing,
    // and insert hyphens if supported.
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    // disable Mobile Safari link highlight
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }

    &:active {
      background: $primary-color;
      color: $tertiary-color;
      border-color: $tertiary-color;
    }
  }
}

// body::before is like an `position: absolute` nav element that is displayed
// behind it. This gives the allsuion that the navigation is stretched to the
// full container height, while still allowing nav to be a floating element.
// (Only when navigation is displayed as a sidebar, i.e. in large viewports).

@mixin nav-grid($grid-columns) {
  // Arrange navigation into a 100%-width grid.
  $space-between: 1%;

  nav {
    padding: 0.25em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    a {
      -webkit-box-flex: 0;
          -webkit-flex: 0 0 100% / $grid-columns - $space-between * 2;
              -ms-flex: 0 0 100% / $grid-columns - $space-between * 2;
                  flex: 0 0 100% / $grid-columns - $space-between * 2;

      // approximate vertical margin using vw units because vertical percentage
      // flex margins don't work the same as on normal elements.
      margin: $space-between / 1% * 1vw $space-between;
    }
  }
}

@media (min-width: 10em) {
  @include nav-grid(2);
}

@media (min-width: 45em) {
  @include nav-grid(4);
}

@media (min-width: 35em) and (max-width: 45em), (min-width: 65em) {
  $navigation-width: 9.5rem;

  nav, body::before {
    width: $navigation-width;
  }

  nav {
    float: left;
    display: block; // reset flexbox styles.
    padding: 0;

    a {
      margin: .5em;
    }

    // Keep nav on screen if it's scrolled past — dock to top of window.
    position: relative; // fallback: appear on top of body:before
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    // If it's in fixed-mode, it'll have to be able to scroll or the user won't
    // be able to access lower things in the menu
    max-height: 100vh;
    overflow: auto;

     + * {
       margin-left: $navigation-width;
     }
  }

  // `body::before` renders `nav` background.
  // Explained above.
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-height: none; // override inherited max-height from `nav`.
  }
}
