//
// _typography-and-colors.scss
//
// Copyright © 2015 Ross Penman. All rights reserved.
//

@import "color-definitions";

html {
  background: stripes(135deg, 75px, $primary-color, $tertiary-color) fixed;
}

body {
  background: white;
  -webkit-box-shadow: 0 0 4em black;
  -moz-box-shadow: 0 0 4em black;
  box-shadow: 0 0 4em black;

  // Use whatever sans-serif font is available for efficiency.
  font-family: sans-serif;
  z-index: 1000;
}

// Footer is a solid bar with logo-style text.
footer {
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  text-shadow: 0 1px rgba(white, 0.5);
  @include bar-gradient(background);
}

h1 {
  @extend footer;
  position: relative;
  text-shadow: 0.1em 0.1em $primary-color;

  // inner spans are used to give special per-character styling to text to
  // display a logo.
  > span {
    display: block;
    margin-bottom: .5em;
    letter-spacing: -2px;
    font-size: 1.5em;
    margin: 0;

    > span {
      font-size: 1.25em;
      position: relative;
      top: .0625em;
      display: inline-block;
    }
  }
}

h2 {
  color: $secondary-color;
  padding-bottom: 2px;
  border-bottom: 1px solid mix($secondary-color, white, 25);
  display: block;
}

.social {
  float: right;

  // Replace text with facebook logo
  a {
    font-size: 0;
    width: 16px;
    height: 16px;
    display: block;

    &:before {
      content: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 32 32'><path fill='#{$secondary-color}' d='M26.667 0h-21.334c-2.945 0-5.333 2.388-5.333 5.334v21.332c0 2.946 2.387 5.334 5.333 5.334h10.667v-14h-4v-4h4v-3c0-2.761 2.239-5 5-5h5v4h-5c-0.552 0-1 0.448-1 1v3h5.5l-1 4h-4.5v14h6.667c2.945 0 5.333-2.388 5.333-5.334v-21.332c0-2.946-2.387-5.334-5.333-5.334z'></path></svg>");
    }
  }
}
