---
layout: page
---

<h2><a href="/photos">Gallery</a> »{{ page.title | split:":" | last }}</h2>

<ul class="gallery">
{% for image in page.images %}
  <li>
    {% assign index = forloop.index | minus:1 %}
    {% assign dimensions = page.image_dimensions[index] %}
    <a href="{{ image }}">
      <img
        src="thumbs/{{ image }}"
        data-full-width="{{ dimensions.width }}"
        data-full-height="{{ dimensions.height }}">
    </a>
  </li>
{% endfor %}
</ul>

{% include photoswipe.html %}
