---
layout: page
---

{% comment %}

page.html

Copyright © 2015 Ross Penman. All rights reserved.

{% endcomment %}

<h2><a href="/photos">Gallery</a> »{{ page.title | split:":" | last | split:"-" | join:" " }}</h2>

<ul class="gallery">
{% for image in page.images %}
  <li>
    {% assign index = forloop.index | minus:1 %}
    {% assign dimensions = page.image_dimensions[index] %}
    <a href="{{ image.name }}">
      <img
        alt=""
        src="thumbs/{{ image.name }}"
        data-full-width="{{ dimensions.width }}"
        data-full-height="{{ dimensions.height }}">
    </a>
  </li>
{% endfor %}
</ul>

{% comment %}PhotoSwipe markup will be injected here.{% endcomment %}
<div id="pswp-container"></div>

<script src="/node_modules/photoswipe/dist/photoswipe.min.js"></script>
<script src="/node_modules/photoswipe/dist/photoswipe-ui-default.min.js"></script>
<script src="/js/lightbox.js"></script>
