---
layout: page
---

{% comment %}

page.html

Copyright © 2015 Ross Penman. All rights reserved.

{% endcomment %}

<h2>Gallery</h2>

<ul class="gallery">

{% for gallery in page.galleries %}
  <li>
    <a href="{{ gallery['gallery'] }}">
      <img
        alt=""
        src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
      <h3 class="title">{{ gallery["name"] | split:"-" | join:" " }}</h3>
      {{ gallery["images"] | size }}
      image{% if gallery["images"].size != 1 %}s{% endif %}
    </a>
  </li>
{% endfor %}
</ul>
