{% comment %}

page.html

Copyright © 2015 Ross Penman. All rights reserved.

{% endcomment %}<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% comment %}OpenGraph{% endcomment %}
  <meta property="og:image" content="/assets/images/icon/50.jpeg">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:type" content="blog">

  {% comment %}Twitter{% endcomment %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncate: 200 }}">
  <meta name="twitter:image" content="/assets/images/icon/120.jpeg">
  {% comment %}
    `twitter:site` and `twitter:creator` are not present as there is no Twitter
    account associated with this website.
  {% endcomment %}
  <meta name="twitter:domain" content="{{ site.url }}">

  {% comment %}Windows{% endcomment %}
  <meta name="msapplication-TileColor" content="#E40409">
  <meta name="msapplication-TileImage" content="/assets/images/icon/144.jpeg">
  <meta name="msapplication-square70x70logo" content="/assets/images/icon/70.jpeg">
  <meta name="msapplication-square150x150logo" content="/assets/images/icon/150.jpeg">

  {% comment %}Apple{% endcomment %}
  <link rel="apple-touch-icon-precomposed" href="/assets/images/icon/152.jpeg">

  {% comment %}Generic{% endcomment %}
  <link rel="icon" href="/assets/images/icon/32.jpeg" sizes="32x32">
  <link rel="icon" href="/assets/images/icon/96.jpeg" sizes="96x96">
  <link rel="icon" href="/assets/images/icon/128.jpeg" sizes="128x128">
  <link rel="icon" href="/assets/images/icon/195.jpeg" sizes="195x195">
  <link rel="icon" href="/assets/images/icon/228.jpeg" sizes="228x228">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  <meta name="description" content="{{ page.content | markdownify | split:'</p>' | first | strip_html }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Syncopate:700">
  <link rel="stylesheet" href="/css/style.css">

  {% comment %}include PhotoSwipe CSS when on a gallery page.{% endcomment %}
  {% if page.url contains "photos" and page.url != "/photos/index.html" %}
    <link rel="stylesheet" href="/node_modules/photoswipe/dist/photoswipe.css">
    <link
      rel="stylesheet"
      href="/node_modules/photoswipe/dist/default-skin/default-skin.css">
  {% endif %}
</head>

<body>
  <h1>{% include header.html %}</h1>

  <div class="container">
    <nav>
      {% for item in site.data.navigation %}
        <a href="{{ item[1] }}">{{ item[0] }}</a>
      {% endfor %}
    </nav>

    <main role="main">
      {{ content }}
    </main>
  </div>

  <footer>
    {% include footer.html %}
  </footer>

  {% comment %}
    Make mobile Safari show :active styles.
    Since this script was so short it didn't really make sense to have in a
    seperate file.

    XXX: If more JavaScript is needed to be run on all pages, it may make sense
    to move it to a seperate file in future.
  {% endcomment %}
  <script>document.addEventListener("touchstart", function() {});</script>
</body>
</html>
